{% extends "base2.html" %}
{% block title %}Account List{% endblock title %}
{% block navbar %}
    <li><a href = "{% url 'home' %}">Main page</a></li>
    <li><a href = "{% url 'create_receipt' %}">Create Receipt</a></li>
    <li><a href = "{% url 'category_list' %}">Categories</a></li>
    <li><a href = "{% url 'account_list' %}">Accounts</a></li>
    <li><a href = "{% url 'create_category' %}">Create Category</a></li>
    <li><a href = "{% url 'create_account' %}">Create Account</a></li>
    <li><a href = "{% url 'logout' %}">Logout</a></li>
{% endblock navbar %}
{% block content %}
        <div>
            <h1>Account List</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in all_accounts %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.number }}</td>
                        <td>{{ account.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock content %}
