{% extends "base2.html" %}
{% block title %}Catagory List{% endblock title %}
{% block navbar %}
    <li><a href = "{% url 'home' %}">Main page</a></li>
    <li><a href = "{% url 'create_receipt' %}">Create Receipt</a></li>
    <li><a href = "{% url 'category_list' %}">Categories</a></li>
    <li><a href = "{% url 'account_list' %}">Accounts</a></li>
    <li><a href = "{% url 'create_category' %}">Create Category</a></li>
    <li><a href = "{% url 'create_account' %}">Create Account</a></li>
    <li><a href = "{% url 'logout' %}">Logout</a></li>
{% endblock navbar %}
{% block content %}
        <div>
            <h1>Catagory List</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                </thead>
                <tbody>
                    {% for name, count in counting_dict.items %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>{{ count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock content %}
