{% extends "base2.html" %}
{% block title %}Create Category{% endblock title %}
{% block navbar %}
    <li><a href = "{% url 'home' %}">Main page</a></li>
    <li><a href = "{% url 'create_receipt' %}">Create Receipt</a></li>
    <li><a href = "{% url 'category_list' %}">Categories</a></li>
    <li><a href = "{% url 'account_list' %}">Accounts</a></li>
    <li><a href = "{% url 'create_category' %}">Create Category</a></li>
    <li><a href = "{% url 'create_account' %}">Create Account</a></li>
    <li><a href = "{% url 'logout' %}">Logout</a></li>
{% endblock navbar %}
{% block content %}
        <div>
            <h1>Create Category</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
{% endblock content %}
